* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #000 ;
    color: white ;
}

.container {
    margin: 200px;
    text-align: center;
    border: 1px solid white;
    padding: 50px;
}

button {
    padding: 20px;
    margin: 0 30px;
    background: rgb(102, 102, 5);
    color: white ;
    border-radius: 6px;
    font-size: 20px;
    margin-top: 50px;
    cursor: pointer;
}

p{
    color: aqua ;
    font-size: 50px;
    font-weight: 100;
}