@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

@import url(https://fonts.googleapis.com/css?family=Poiret+One);

@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-dark: #2f2f2f;
    --color-light: #fff;
    --color-brand: #f9ae00;
    --color-brandinset: #c48a02;
    --font-fam: "Lato", sans-serif;
}

.main {
    /* background: linear-gradient(#5680E9 0%, #84ceeb 25%, #5ab9ea 50%, #c1c8e4 75%, #8860D0 100%); */
    background: radial-gradient(ellipse at top, #5680E9, black);
    height: 100vh !important;
    font-family: var(--font-fam);
    padding: 50px 30px !important;
}

@media screen and (min-width:768px) {
    .main {
        padding: 60px 70px !important;
    }
}

@media screen and (min-width:992px) {
    .main {
        padding: 70px 170px !important;
    }
}

@media screen and (min-width:1200px) {
    .main {
        padding: 90px 250px !important;
    }
}

/* Searchbar style  */
.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap .search {
    width: 50%;
}

.searchTerm {
    border: none;
    padding: 5px;
    outline: none;
}

.searchTerm:focus {
    color: var(--color-dark);
}

.searchButton {
    border: none;
    /* box-shadow: inset 1px 1px 10px rgb(0, 0, 0), inset -1px -1px 10px rgb(255, 255, 255); */
    background: var(--color-brand);
    text-align: center;
    color: var(--color-dark);
    /* border-radius: 0 5px 5px 0; */
    cursor: pointer;
    outline: none;
    transition: all 0.4s;
}

.searchButton:hover {
    background-color: var(--color-dark);
    color: var(--color-light);
}



/* main-container style */

.main-container {
    margin: auto;
    border-radius: 20px;
    background: #fff;
    margin-top: 20px;
    height: fit-content;
}

@media screen and (min-width:768px) {
    .main-container {
        margin-top: 40px;
    }
}

@media screen and (min-width:992px) {
    .main-container {
        margin-top: 60px;
    }
}

@media screen and (min-width:1200px) {
    .main-container {
        margin-top: 60px;
    }
}

.main-container .top {
    display: flex;
    justify-content: center;
}

/*top content*/
.main-container .top .cloud {
    z-index: 6;
    position: relative;
    top: -10px;
    right: 20px;
}

.main-container .top .cloud img {
    width: 15vw;
}

/* sun animation */
.main-container .top .sun {
    position: absolute;
    width: 8vw;
    z-index: 1;
    animation: rotation 12s infinite linear;
    filter: drop-shadow(0 0 1rem #5680E9);
}

/* .main-container .top .sun:hover {
    filter: brightness(0) drop-shadow(0 0 1rem red);
    ;
} */


@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* middle content */
.middleContainer {
    width: 100%;
    font-family: var(--font-fam);
    background: #f9ae00;
}

/* mid left */
.midLeft {
    background: #000;
    padding: 20px 0;
    color: #fff;
}

.lft .celcius {
    font-size: 50px;
    text-align: center;
}

.rht {
    padding-left: 10px;
}

.rht .weather {
    font-size: 30px;
}

.rht .place {
    font-size: 16px;
}

/* mid right */
.midRight {
    padding: 20px 0;
}

.date,
.time {
    font-size: 25px;
}

/* Bottom */
.bottom {
    padding: 30px;
    height: fit-content;
}

.bottom .bottomInner {
    padding: 0;
}

.bottom i {
    width: unset;
    font-size: 25px;
    padding-left: 0px;
}

.bottom .side-content {
    padding-left: 20px;
}

@media screen and (max-width:768px) {
    .midLeft {
        background: #000;
        padding: 15px 0;
        color: #fff;
    }

    .lft .celcius {
        font-size: 35px;
        text-align: center;
    }

    .rht .weather {
        font-size: 20px;
    }

    .rht .place {
        font-size: 14px;
    }

    .midRight {
        padding: 15px 0;
    }

    .date,
    .time {
        font-size: 20px;
    }

    .bottom {
        padding: 10px;
        height: fit-content;
    }

    .bottom .bottomInner {
        padding: 0px;
    }

    .bottom i {
        font-size: 25px;
        padding-left: 20px;
    }

    .bottom .bottomInner .side-content {
        padding-left: 40px;
    }
}

@media screen and (max-width:575px) {
    .bottom .bottomInner {
        padding: 0 20vw;
    }

    .bottom i {
        font-size: 25px;
        padding-left: 0px;
        width: 70px;
    }

    .bottom .bottomInner .side-content {
        padding-left: 0px;
        text-align: left;
    }
}