.App {
  text-align: center;

}

body {
  margin-top: 40px;
  padding: 0;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(211, 132, 29);
  font-family: Calibri, 'Trebuchet MS', sans-serif;
}

input {
  padding: 10px;
  width: 200px;
  margin: 10px 10px;
  border: 1px solid whitesmoke;
  background: transparent;
  color: antiquewhite;
}

button {
  padding: 10px 30px;
  background: transparent;
  border-radius: 20px;
  color: antiquewhite;
  text-transform: uppercase;
}

p span {
  color: rgb(88, 195, 199);
  font-weight: lighter;
}